*{
/*    -webkit-font-smoothing:antialiasing;*/
    font-family: 'PT Serif';
/*    font-family: 'Playfair Display';*/
}

html{
    font-size: 10px;
}

.blog-post{
    margin: auto;
    width: 60rem;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
/*    font-style: italic;*/
}

h1{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

p{
    
/*
    padding: 0em 1em;
    border-left: 1px solid darkgray;
*/
/*    background-color: beige;*/
}

p::first-letter{
    color:red;
}

span{
/*
    width: 1.2em;
    height: 2em;
*/
    padding: 0 0.4em;
/*    border: 1px solid dimgray;*/
    border-radius: 100% 100%;
/*    display: inline-block;*/
    background-color: beige;
}